---
import Dialog from "../dialogs/Dialog.astro"
import Heading from "../headings/Heading.astro"
import Paragraph from "../paragraphs/Paragraph.astro"
import Button from "../buttons/Button.astro"

const { dialogActionButtons = [] } = Astro.props
---

<Dialog
  variant="danger"
  id="confirm_delete_meal_dialog"
  isClosableDialog={true}
>
  <Heading slot="title">
    <h2>Dislike meal</h2>
  </Heading>

  <Paragraph
    slot="dialog-body-text"
    variant="dialog_paragraph"
    data-role="dislike_meal_confirm_modal"
  >
    <p class="text-white text-center" id="dislike_meal_confirm_message"></p>
  </Paragraph>

  <div
    class="action-buttons-container flex justify-center gap-4"
    slot="actions"
  >
    <Button
      variant="dialog_action_button"
      class="bg-red-400"
      data-action="delete-meal"
      id="confirm_delete_meal_button"
    >
      Dislike Meal
    </Button>
    <Button
      variant="dialog_action_button"
      class="bg-red-400"
      id="cancel_delete_meal_button"
    >
      Cancel
    </Button>
  </div>
</Dialog>

<script>
  import { supabaseClient } from "../../js/supabase/supabase_client"
  import { dislikeMeal } from "../../js/supabase/supabase_methods.js"

  const likedMealsContainer = document.querySelector(".liked-meals-container")
  const confirmDeleteMealDialog = document.querySelector(
    "#confirm_delete_meal_dialog",
  )
  const confirmDeleteMealDialogMessage = confirmDeleteMealDialog?.querySelector(
    "#dislike_meal_confirm_message",
  )

  likedMealsContainer?.addEventListener("click", (e) =>
    openConfirmDislikeMealModal(e),
  )
  confirmDeleteMealDialog?.addEventListener("click", (e) => handleDeleteMeal(e))

  async function openConfirmDislikeMealModal(e) {
    const dislikeMealTargetButton = e.target.closest("[dislike-meal-button-id]")
    if (!dislikeMealTargetButton) return

    const dislikeMealId = dislikeMealTargetButton.getAttribute(
      "dislike-meal-button-id",
    )

    const confirmDeleteMealButton = document.querySelector(
      '#confirm_delete_meal_dialog button[data-action="delete-meal"]',
    )

    if (confirmDeleteMealButton) {
      confirmDeleteMealButton.setAttribute("data-meal-id", dislikeMealId)
    }

    confirmDeleteMealDialog?.showModal()
    confirmDeleteMealDialogMessage.textContent =
      "Are you sure, you want to dislike this meal? It cannot be undone!"
  }

  async function handleDeleteMeal(e) {
    if (e.target.matches("#cancel_delete_meal_button")) {
      confirmDeleteMealDialog?.close()
      return
    }

    const dislikeId = e.target.getAttribute("data-meal-id")
    if (dislikeId) {
      await dislikeMeal(dislikeId)
      confirmDeleteMealDialog?.close()

      setTimeout(() => {
        location.reload()
      }, 0)
    }
  }
</script>
