---
import Overlay from "../overlays/Overlay.astro"

const { videoTitle, videoSrc, videoPoster, videoId } = Astro.props
---

<div
  class="wrapper video-wrapper relative"
  id="video_player"
  data-plyr-provider="youtube"
  data-plyr-embed-id={videoId}
>
</div>

<script>
  import Plyr from "plyr"
  document.addEventListener("DOMContentLoaded", () => {
    const videoPlayer = new Plyr("#video_player", {
      controls: [
        "play-large",
        "play",
        "progress",
        "current-time",
        "duration",
        "mute",
        "volume",
        "fullscreen",
        "captions",
      ],
      youtube: {
        noCookie: true,
        rel: 1,
        showInfo: 0,
        iv_load_policy: 3,
        modestbranding: 1,
      },
    })
  })
</script>
