---
import Layout from "../../layouts/Layout.astro"
import SignUpForm from "../../components/forms/SignUpForm.astro"
import Link from "../../components/links/Link.astro"
import Dialog from "../../components/dialogs/Dialog.astro"
---

<Layout title="Sign up">
  <div class="flex flex-col items-center justify-center min-h-screen">
    <div class="flex flex-col gap-5">
      <Link
        slot="backlink"
        href="/meals"
        class="self-start text-white text-xl transition-text duration-150 ease-in hover:text-(--secondary-text-color)"
      >
        <i class="fas fa-arrow-left"></i>
      </Link>
      <SignUpForm />
      <h4 class="text-white mt-4 text-center">
        Already a user? Log in
        <Link variant="register_link" href="/register/login">here.</Link>
      
      </h4>
    </div>
  </div>
</Layout>
