---
import Layout from "../../layouts/Layout.astro"
import SignUpForm from "../../components/forms/SignUpForm.astro"
---

<Layout title="Sign up">
  <div class="flex items-center justify-center min-h-screen">
    <SignUpForm />
  </div>
</Layout>
