---
const { authOptionLinks = [] } = Astro.props
import Link from "../links/Link.astro"
---

<div class="flex-gap-6">
  {
    authOptionLinks.length > 0 ? (
      authOptionLinks.map((authOptionLink) => (
        <Link variant="dashboard_overlay_link" href={authOptionLink.href}>
          {authOptionLink.buttonText}
        </Link>
      ))
    ) : (
      <p class="text-white">No auth links available</p>
    )
  }
</div>
