---
import Button from "../buttons/Button.astro"
const {
  class: className,
  id: id,
  mealInteractionButtons = [],
  mealInteractionButtonText,
  dataAction,
} = Astro.props
const { isLoggedIn } = Astro.props
---
<article class="flex items-center gap-12 mt-4">
  {
    mealInteractionButtons.length > 0 ? (
      mealInteractionButtons.map((mealInteractionButton) => (
        <Button
          isMealInteractionButton={true}
          dataAction={mealInteractionButton.dataAction}
        >
          <i class=`${mealInteractionButton.iconClass} text-2xl`} />
          <span class="text-md">
            {mealInteractionButton.mealInteractionButtonText}
          </span>
        </Button>
      ))
    ) : (
      <p>No available interactions</p>
    )
  }
</article>

<script>
  import { supabaseClient } from "../../js/supabase/supabase_client"

  const {
    data: { user },
  } = await supabaseClient.auth.getUser()

  let isLoggedIn = !!user
  updateMealInteractionButtonsUI(isLoggedIn)
  const mealInteractionButtons = document.querySelectorAll(
    ".meal-interaction-button",
  )
  // Update UI state of the buttons
  function updateMealInteractionButtonsUI(isLoggedIn) {
    mealInteractionButtons.forEach((mealInteractionButton) => {
      if (isLoggedIn) {
        mealInteractionButton.classList.remove("disabled-interaction-button")
      } else {
        mealInteractionButton.classList.add("disabled-interaction-button")
      }
    })
  }
  // Check auth state change
  supabaseClient.auth.onAuthStateChange((event, session) => {
    isLoggedIn = !!session?.user
    console.log(isLoggedIn)
    updateMealInteractionButtonsUI(isLoggedIn)
  })
</script>