---
const {class: className, id: id, href, buttonText} = Astro.props 
---

<a class=`${className} bg-[var(--button-bg-color)] text-[var(--button-text-color)] px-4 py-2 w-fit rounded-sm cursor-pointer transition-opacity duration-150 ease-in hover:opacity-85 md:text-xl` id={id} href={href}>
  {buttonText}
  <slot />
</a>