---
const {
  class: className,
  id: id,
  variant,
  isClosableDialog = false,
} = Astro.props

const baseButtonClasses = `cursor-pointer`

const buttonVariants = {
  sign_out_button:
    "bg-(--secondary-text-color) p-2 text-sm rounded-md text-white w-fit ",
  notification_button:
    "relative grid place-content-center my-4 bg-(--notification-button-bg-color) text-(--notification-button-text-color) shadow-md h-[40px] w-[40px] p-4 rounded-full cursor-pointer",
  form_button:
    "form-button relative overflow-hidden bg-(--secondary-text-color) h-fit w-full text-center text-white py-1 uppercase rounded-md my-2 cursor-pointer transition-opacity duration-150 ease-in hover:opacity-95",
  dialog_action_button: "dialog-action-button px-4 py-2 rounded-md text-white",

  meal_interaction_button:
    "disabled-interaction-button meal-interaction-button flex flex-col text-[var(--secondary-text-color)] cursor-pointer transition-opacity duration-150 ease-in hover:opacity-85",

  dialog_close_button: "fixed top-3 right-3 text-2xl",
}
---

<button
  id={id}
  class={`${baseButtonClasses} ${buttonVariants[variant] ?? ""} ${className ?? ""}`}
>
  <slot />
</button>
