---
import Button from "./Button.astro"
const { class: className, id: id } = Astro.props

const hideOnRoutes = [/^\/meals\/[^/]+$/, /^\/dashboard/]
const pathname =
  typeof window !== "undefined" ? window.location.pathname : Astro.url.pathname

const hiddenClass =
  hideOnRoutes.some((routes) => routes.test(pathname)) && "hidden"
---

<Button
  class={`h-[30px] w-[30px] fixed top-12 right-12 cursor-pointer group ${hiddenClass} group-hover`}
  id="nav_toggle_button"
>
  <span
    class="absolute left-0 right-0 mx-auto block h-[5px] w-full rounded-md bg-white
         -translate-y-[9px] transform
         group-[.open]:translate-y-0 group-[.open]:rotate-45
         transition-all duration-200 ease-in group-hover:bg-(--secondary-text-color)"
  ></span>

  <span
    class="absolute left-0 right-0 mx-auto block h-[5px] w-full rounded-md bg-white
         translate-y-0 transform
         group-[.open]:opacity-0 group-[.open]:-translate-x-[40px]
         transition-all duration-150 ease-in delay-100 group-hover:bg-(--secondary-text-color)"
  ></span>

  <span
    class="absolute left-0 right-0 mx-auto block h-[5px] w-full rounded-md bg-white
         translate-y-[9px] transform
         group-[.open]:translate-y-0 group-[.open]:-rotate-45
         transition-all duration-200 ease-in group-hover:bg-(--secondary-text-color)"
  ></span>
</Button>

<style>
  span.scrolled {
    background-color: var(--secondary-text-color);
  }
</style>

<script>
  const navToggleButton = document.querySelector("#nav_toggle_button")
  const navToggleButtonLines = navToggleButton?.querySelectorAll("span")

  console.log(navToggleButtonLines)
  const mainNav = document.querySelector("#main_nav")

  window.addEventListener("scroll", updateBackgroundColorOnScroll)
  navToggleButton?.addEventListener("click", toggleNavbar)

  function toggleNavbar() {
    navToggleButton?.classList.toggle("open")
    mainNav?.classList.toggle("open")

    mainNav?.classList.contains("open")
      ? (document.body.style.overflow = "hidden")
      : (document.body.style.overflow = "scroll")
  }

  // Update background color on scroll
  function updateBackgroundColorOnScroll() {
    const isScrolled = window.scrollY > 400

    navToggleButtonLines?.forEach((line) => {
      line.classList.toggle("scrolled", isScrolled)
    })
  }
</script>
