---
const { class: className, id: id, variant = "" } = Astro.props

const paragraphVariants = {
  hero_paragraph: "text-center text-lg text-white md:text-xl min-w-[300px]",
  card_paragraph: "mb-8 line-clamp-4",
  dialog_paragraph: "inline text-center justify-center text-white",
}

// Split variant string and map to classes
const variants = variant.split(" ")
const appliedClasses = variants
  .map((v) => paragraphVariants[v])
  .filter(Boolean)
  .join(" ")
---

<p class={`${appliedClasses} ${className}`} id={id}>
  <slot />
</p>
