@import "tailwindcss";
@import "plyr/dist/plyr.css";

:root
{
    /* FONTS */
    --primary-font: 'Circular', sans-serif;

    
    /* COLORS */
    --primary-text-color: #34b27b;
    --primary-bg-color: #f8f9fa;
    --secondary-bg-color: #11181c;
    --navigation-bg-color: #11181c;
    --secondary-text-color: #34b27b;
    --button-bg-color: #34b27b;
    --button-text-color: #f8f9fa;
    --singleview-subheading-text-color: #34b27b;
    --plyr-button-bg-color: #34b27b;
    --notification-button-text-color: #fff;
    --notification-button-bg-color: #34b27b;
    --notification-button-number-bg-color: #11181c;
    --notifications-list-bg-color: #11181c;
    --auth-bar-bg-color: #43c28b;
    --modal-bg-color: #11181c;
}

@font-face
{
    font-family: 'Circular';
    src: url('../assets/fonts/circular-std-medium-500.ttf') format('truetype');
}

body
{
    font-family: 'Circular';
}

input[type="range"]::-moz-range-thumb,
input[type="range"]::-webkit-range-thumb {
    appearance: none;
    background-color: var(--range-track-thumb-bg-color);
    -moz-border: none;
    height: 15px;
    width: 15px;
    border: 2px solid var(--range-track-thumb-border-color);
    cursor: pointer;
}

input[type="range"]::-moz-range-thumb:active,
input[type="range"]::-webkit-range-thumb:active
{
    transform: scale(.80);
}

select
{
    font-family: var(--primary-font);
    color: white;

    & option
    {
        border-radius: none;
        color: var(--primary-text-color);
        cursor: pointer;

        &:hover
        {
            color: #fff;
            background-color: var(--secondary-text-color);
        }
    }
}

/* Plyr Video Player */
.plyr__control.plyr__control--overlaid{
    background-color: var(--secondary-text-color);
}

.plyr__control.plyr__control--overlaid:hover {
    background-color: var(--secondary-text-color) !important;
    opacity: 0.95; /* optional */
}

.plyr__controls__item.plyr__control:hover
{
    background-color: var(--secondary-text-color) !important;
}

.plyr__video-wrapper.plyr__video-embed
{
    border-radius: 10px;
    min-width: fit-content;
}

video
{
    border-radius: 10px;
}

/* Navigation Items */
.nav-list-item
{
    -webkit-text-stroke: 2px var(--primary-text-color);
    -webkit-text-fill-color: transparent;
    text-shadow: 
        0 0 0 var(--primary-text-color),
        0 0 4px var(--primary-text-color);
}

/* Utilities */
.hide-card
{
    opacity: 0;
    transition: opacity .3s ease-in;
}

.show-nav-bg-text {
    opacity: 0.4;
    transition: opacity .3s ease-in;
}

.disabled-interaction-button
{
    cursor: not-allowed;
    opacity: .4;
}

/* Form Buttons */
.form-button-disabled
{
    opacity: 50%;
    pointer-events: none;
    cursor: not-allowed;
}


/* Popover (positioning of the notifications popover) */
button[popovertarget="notifications_list"]
{
    anchor-name: --notifications-button;
}

.notifications-list-popover
{
    position: fixed;
    position-anchor: --notifications-button;
    position-try: --bottom-right, --bottom-left;

    inset-area: anchor(block-end) span 8px;
    transform-origin: anchor(center);
}


/* Position Blocks */
@position-try --bottom-right
{
    position-area: block-end right;
}

@position-try --bottom-left
{
    position-area: block-end left;
}

/* Icons */
i
{
    pointer-events: none;
}