---
const {
  class: className,
  id,
  href,
  buttonText,
  isYouTubeButton,
  target,
  isSingleViewHeroLink,
  isRegisterLink,
} = Astro.props
---

{
  isSingleViewHeroLink ? (
    <a
      class="absolute top-3 left-3 text-[var(--secondary-text-color)] text-2xl text-white z-[100001] cursor-pointer transition-text duration-150 ease-in hover:text-[var(--secondary-text-color)]"
      href={href}
    >
      <slot />
    </a>
  ) : isRegisterLink ? (
    <a
      class="text-white border-b-2 border-white transition-all duration-100 ease-in hover:text-(--secondary-text-color) hover:border-(--secondary-text-color)"
      href={href}
    >
      {buttonText}
    </a>
  ) : (
    ""
  )
}
