---
import Heading from "../headings/Heading.astro"
import Section from "./Section.astro";
import Card from "../cards/Card.astro";
import LikedMealsContainer from "../containers/LikedMealsContainer.astro"

const {likedMeals} = Astro.props
---

<Section class="liked-meals-section" id="liked_meals_section">
  <Heading isDashboardSectionHeading={true} headingText="Liked Meals" />
  <LikedMealsContainer likedMeals={likedMeals} />
</Section>