---
import Section from "./Section.astro"
import MealsContainer from "../containers/MealsContainer.astro"
const { class: className, id: id } = Astro.props
---

<Section class="meals-section" id="meals_section">
  <MealsContainer />
</Section>
