---
const {
  class: className,
  id: id,
  isHeroHeading,
  headingText,
  isCardHeading,
  isSingleViewHeroHeading,
  isSingleViewSubHeading,
} = Astro.props
---

{
  isHeroHeading ? (
    <header class="text-white text-4xl md:text-6xl whitespace-nowrap">
      {headingText}
    </header>
  ) : isCardHeading ? (
    <header class="text-[var(--primary-text-color)] text-lg uppercase font-semibold tracking-wide mt-3 mb-2">
      {headingText}
    </header>
  ) : isSingleViewHeroHeading ? (
    <h2 class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 text-white text-3xl z-[10000] md:text-4xl text-center">
      {headingText}
    </h2>
  ) : isSingleViewSubHeading ? (
    <h2 class="text-[var(--singleview-subheading-text-color)] text-3xl">
      {headingText}
    </h2>
  ) : (
    ""
  )
}
