---
import "../styles/global.css"
import "plyr/dist/plyr.css"
import Card from "../components/cards/Card.astro"
const { title } = Astro.props

const isSingleView = Astro.url.pathname.includes("/meal")
const mainSingleViewClasses = isSingleView ? "mx-auto px-10 py-10" : ""
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/src/styles/global.css" />
    <script src="https://www.youtube.com/iframe_api"></script>
    <script
      src="https://kit.fontawesome.com/e05f21b32e.js"
      crossorigin="anonymous"></script>
    <title>SupaMeals | {title}</title>
  </head>
  <body class="bg-[var(--secondary-bg-color)] min-h-screen">
    <main class={mainSingleViewClasses}>
      <slot />
    </main>
  </body>
</html>
