---
import "../styles/global.css"
import "plyr/dist/plyr.css"
import Navigation from "../components/navigation/Navigation.astro"

const { title, isDashboardLockVisible = false } = Astro.props

const isLandingView = Astro.url.pathname === "/"
const isMealsView = Astro.url.pathname.startsWith("/meals")
const isSingleMealView = /^\/meals\/[^/]+$/.test(Astro.url.pathname)
const isDashboardView = Astro.url.pathname.startsWith("/dashboard")
const isAuthView =
  Astro.url.pathname.startsWith("/register/sign-up") ||
  Astro.url.pathname.startsWith("/register/login")

const showToggleButton = !isAuthView && !isSingleMealView && !isDashboardView

const mainClasses = isLandingView
  ? "p-0"
  : isSingleMealView || isDashboardView || isMealsView
    ? "mx-auto p-6"
    : ""

const navItems = [
  {
    href: "/meals",
    text: "Meals",
    isRequiringAuth: false,
  },
  {
    href: "/meal-planner",
    text: "Meal Planner",
    isRequiringAuth: true,
  },
]
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/src/styles/global.css" />
    <script src="https://www.youtube.com/iframe_api"></script>
    <script
      src="https://kit.fontawesome.com/e05f21b32e.js"
      crossorigin="anonymous"></script>
    <title id="page_title">SupaMeals | {title}</title>
  </head>
  <body class="bg-[var(--secondary-bg-color)] min-h-screen">
    <Navigation navItems={navItems} showToggleButton={showToggleButton} />

    <main class={mainClasses}>
      <slot />
    </main>

    {isDashboardLockVisible && <slot name="dashboard-lock" />}
  </body>
</html>
