---
import "../styles/global.css"
const { title } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SupaMeals | {title}</title>
  </head>
  <body class="bg-[var(--secondary-bg-color)] min-h-screen w-screen">
    <main>
      <slot />
    </main>
  </body>
</html>
