---
import "../styles/global.css"
import Card from "../components/cards/Card.astro"
const { title } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SupaMeals | {title}</title>
    <script
      src="https://kit.fontawesome.com/e05f21b32e.js"
      crossorigin="anonymous"></script>
  </head>
  <body class="bg-[var(--secondary-bg-color)] min-h-screen">
    <main class="mx-auto px-10 py-10">
      <slot />
    </main>
  </body>
</html>
