---
import "../styles/global.css"
import "plyr/dist/plyr.css"
import Navigation from "../components/navigation/Navigation.astro"
const { title } = Astro.props

const isAuthView =
  Astro.url.pathname.startsWith("/register/sign-up") ||
  Astro.url.pathname.startsWith("/register/login")

const isSingleMealView = /^\/meals\/[^/]+$/.test(Astro.url.pathname)
const isDashboardView = Astro.url.pathname.startsWith("/dashboard")

const mainSingleViewAndDashboardClasses =
  isSingleMealView || isDashboardView ? "mx-auto px-10 py-10" : ""

const navItems = [
  {
    href: "/meals",
    text: "Meals",
    isRequiringAuth: false,
  },
  {
    href: "/meal-planner",
    text: "Meal Planner",
    isRequiringAuth: true,
  },
]
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/src/styles/global.css" />
    <script src="https://www.youtube.com/iframe_api"></script>
    <script
      src="https://kit.fontawesome.com/e05f21b32e.js"
      crossorigin="anonymous"></script>
    <title>SupaMeals | {title}</title>
  </head>
  <body class="bg-[var(--secondary-bg-color)] min-h-screen">
    {
      !isAuthView && !isSingleMealView && !isDashboardView ? (
        <Navigation navItems={navItems} />
      ) : (
        ""
      )
    }

    <main class={mainSingleViewAndDashboardClasses}>
      <slot />
    </main>
  </body>
</html>
