---
import { supabaseClient } from "../../js/supabase/supabase_client"
import Form from "./Form.astro"
import Dialog from "../dialogs/Dialog.astro"
import Heading from "../headings/Heading.astro"
import Paragraph from "../paragraphs/Paragraph.astro"
import Button from "../buttons/Button.astro"

const {
  data: { user },
} = await supabaseClient.auth.getUser()

const username = user?.user_metadata.username
---

<Form variant="login" id="login_form" />

<!-- Login Success Dialog -->
<Dialog variant="success" id="login_success_dialog" isClosableDialog={true}>
  <Heading slot="dialog-body-text" slot="title">
    <h2>Login successful</h2>
  </Heading>

  <Paragraph
    slot="dialog-body-text"
    variant="dialog_paragraph"
    data-role="login-success-message"
  >
    <p
      class="text-white text-center tracking-wide whitespace-pre-line"
      id="login_success_message"
    >
    </p>
  </Paragraph>
</Dialog>

<!-- Login Failed Dialog -->
<Dialog
  variant="danger"
  id="login_failed_dialog"
  isDialogCloseButton={true}
  isClosableDialog={true}
>
  <Heading slot="dialog-body-text" slot="title">
    <h2>Login failed</h2>
  </Heading>

  <Paragraph
    slot="dialog-body-text"
    variant="dialog_paragraph"
    data-role="login-failed-message"
  >
    <p
      class="text-white text-center tracking-wide whitespace-pre-line"
      id="login_failed_message"
    >
    </p>
  </Paragraph>

  <Button variant="dialog_close_button">
    <i class="fas fa-times"></i>
  </Button>
</Dialog>

<script>
  import { supabaseClient } from "../../js/supabase/supabase_client"
  import { login } from "../../js/supabase/supabase_methods"

  const loginForm = document.querySelector("#login_form")

  const loginSuccessDialog = document.querySelector<HTMLDialogElement>(
    "#login_success_dialog",
  )

  const loginSuccessMessage = loginSuccessDialog?.querySelector(
    "#login_success_message",
  )

  const loginFailedDialog = document.querySelector("#login_failed_dialog")
  const loginFailedMessage = loginFailedDialog?.querySelector(
    "#login_failed_message",
  )

  loginForm?.addEventListener("submit", (e) => handleLogin(e))

  async function handleLogin(e) {
    e.preventDefault()

    const formData = new FormData(loginForm)

    const emailInput = formData.get("email_input")
    const passwordInput = formData.get("password_input")

    const loginResult = await login(emailInput, passwordInput)

    if (loginResult.success) {
      const {
        data: { user },
      } = await supabaseClient.auth.getUser()

      loginSuccessDialog?.showModal()

      if (loginSuccessMessage && user) {
        loginSuccessMessage.textContent = `Welcome back, ${user.user_metadata.username}! \nYou will be redirected to your dashboard shortly!`
      }

      setTimeout(() => {
        window.location.href = "/dashboard"
      }, 2000)
    } else {
      loginFailedDialog?.showModal()
      loginFailedMessage.textContent =
        "Something went wrong. \nPlease try again!"
    }
  }
</script>
