---
const { headingText } = Astro.props

import Form from "../../components/forms/Form.astro"
import Dialog from "../dialogs/Dialog.astro"
import Heading from "../headings/Heading.astro"
import Paragraph from "../paragraphs/Paragraph.astro"
---

<Form id="sign_up_form" variant="sign_up" />

<!-- Sign Up Success Dialog -->
<Dialog variant="success" id="sign_up_success_dialog">
  <Heading slot="title">
    <h2>Sign up successful</h2>
  </Heading>

  <Paragraph
    slot="dialog-body-text"
    variant="dialog_paragraph"
    data-role="sign-up-success-message"
  >
    <p
      class="text-white whitespace-pre-line text-center"
      id="sign_up_success_message"
    >
    </p>
  </Paragraph>
</Dialog>

<!-- Sign Up Failed Dialog -->
<Dialog variant="danger" id="sign_up_failed_dialog" isClosableDialog={true}>
  <Heading slot="title">
    <h2>Sign up failed</h2>
  </Heading>

  <Paragraph
    slot="dialog-body-text"
    variant="dialog_paragraph"
    data-role="sign-up-failed-message"
  >
    <p
      class="text-white whitespace-pre-line text-center"
      id="sign_up_failed_dialog_message"
    >
    </p>
  </Paragraph>
</Dialog>

<script>
  import { supabaseClient } from "../../js/supabase/supabase_client"
  import {
    registerAndLogin,
    storeUsersInUsersTable,
  } from "../../js/supabase/supabase_methods"

  const signUpForm = document.querySelector("#sign_up_form")
  const signUpSuccessDialog = document.querySelector("#sign_up_success_dialog")
  const signUpSuccessDialogMessage = signUpSuccessDialog?.querySelector(
    "#sign_up_success_message",
  )
  const signUpFailedDialog = document.querySelector("#sign_up_failed_dialog")
  const signUpFailedDialogMessage = signUpFailedDialog?.querySelector(
    "#sign_up_failed_message",
  )

  signUpForm?.addEventListener("submit", async (e) => {
    e.preventDefault()

    const formData = new FormData(signUpForm)
    const emailInput = formData.get("email_input")
    const fullNameInput = formData.get("full_name_input")
    const passwordInput = formData.get("password_input")
    const repeatPasswordInput = formData.get("repeat_password_input")
    const profileImageInput =
      signUpForm.elements["avatar_image_upload_input"]?.files[0]

    if (passwordInput !== repeatPasswordInput) {
      alert("Passwords do not match!")
      return
    }

    const result = await registerAndLogin(
      fullNameInput,
      emailInput,
      passwordInput,
      profileImageInput,
    )

    if (result.success) {
      const storeResult = await storeUsersInUsersTable(
        fullNameInput,
        emailInput,
        result.avatarUrl,
      )

      const {
        data: { user },
      } = await supabaseClient.auth.getUser()

      signUpSuccessDialog?.showModal()
      signUpSuccessDialogMessage.textContent = `You successfully signed up as ${user?.user_metadata?.username}! You will be redirected to your dashboard shortly.`

      setTimeout(() => {
        window.location.href = "/dashboard"
      }, 2000)
    } else {
      const signUpFailedDialogParagraph = signUpFailedDialog?.querySelector(
        "#sign_up_failed_dialog_message",
      )

      signUpFailedDialog?.showModal()
      if (signUpFailedDialogParagraph) {
        signUpFailedDialogParagraph.textContent = `Registration failed: \n${result.signUpError}`
      }
    }
  })
</script>
